<!----------------------------part6/6----------------------------------------------------------------->

<div id="part6">
  <div id="part_area">
    <div id="contact">
      <div class="arrow"><%= image_tag "arrow_green.png", {width: 30} %></div>
      <a id="p6"></a>
      <div class="ok_panel">
        <%= image_tag "/images/form/ok1.png", class: "ok1" %>
        <%= image_tag "/images/form/ok2.png", class: "ok2" %>
        <%= image_tag "/images/form/ok3.png", class: "ok3" %>
      </div>
      <div id="contact_panel">
        <div id="formid" style="display: none"><%= image_tag ("loading.jpg") %></div>
        <%= form_for(@upload, :remote => (params[:action] == 'index' ? true : false)) do |f| %>

            <% if @upload.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

                  <ul>
                    <% @upload.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>


              <div class="field">
                <%= f.text_field :name, onkeyup: false, class: "form-control name_con", placeholder: 'What is your name?' %>
              </div>
              <div class="field">
                <%= f.text_field :email, onkeyup: false, class: "mail_con form-control", placeholder: 'What is your email adress?'  %>
              </div>
              <div class="field text-field">
                <%= f.text_area :massage, onkeyup: false, class: "text_con form-control", placeholder: 'What is your email adress?'%>
              </div>
            <div class="buttons">
              <div id="battest" class="input_upload input_upload_bg" style="width: 276px; height: 103px;">
                <%= f.file_field :attachment, id: "file_upload", style: "-moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; width: 276px; height: 103px" %>
              </div>
              <div class="input_send" style="width: 276px; height: 103px;">
              <%= f.button  class: "btn btn-primary", id: "file_send", style: "-moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; width: 276px; height: 103px" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
