<!----------------------------part3/6----------------------------------------------------------------->

<div id="part3">
  <div id="part_area">
    <div id="services">
      <div class="arrow"><img src="images/arrow_buttom.png" width="30"></div>
      <a id="p3"></a>
      <h2 style="padding-top: 80px">OUR SERVICES</h2>
      <div class="text_mark"></div>
      <div id="headservicecontainer">
        <ul>
          <li class="li1 lin_grad"><div class="your_image service_active"><%= @services.find_by_position(1).title %></div></li>
          <li class="li5"></li>
          <li class="li2"><div class="your_amusement service_normal"><%= @services.find_by_position(2).title %></div></li>
          <li class="li6"></li>
          <li class="li3"><div class="your_comfort service_normal"><%= @services.find_by_position(3).title %></div></li>
          <li class="li7"></li>
          <li class="li4"><div class="your_productivity service_normal"><%= @services.find_by_position(4).title %></div></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="services_border" style="border: 2px solid #0e2532"></div>

  <div id="part_area">
    <div class="ser_cont_bord">
      <div class="your_image_cont">
        <div class="your_image_cont_left">
          <p><%= @services.find_by_position(1).content %></p>
        </div>
        <div class="your_image_cont_right">
          <img src="<%= @services.find_by_position(1).image %>">
        </div>
      </div>
      <div class="your_amusement_cont">
        <div class="your_amusement_cont_left">
          <p><%= @services.find_by_position(2).content %></p>
        </div>
        <div class="your_amusement_cont_right">
          <img src="<%= @services.find_by_position(2).image %>">
        </div>
      </div>
      <div class="your_comfort_cont">
        <div class="your_comfort_cont_left">
          <p><%= @services.find_by_position(3).content %></p>
        </div>
        <div class="your_comfort_cont_right">
          <img src="<%= @services.find_by_position(3).image %>">
        </div>
      </div>
      <div class="your_productivity_cont">
        <div class="your_productivity_cont_left">
          <p><%= @services.find_by_position(4).content %></p>
        </div>
        <div class="your_productivity_cont_right">
          <img src="<%= @services.find_by_position(4).image %>">
        </div>
      </div>
    </div>
  </div>
</div>
