<!----------------------------part2/6----------------------------------------------------------------->

<div id="part2">
  <div id="part_area">
    <div class="arrow_black"></div>

    <!---------->

    <div id="about">
      <div id="left_col">
        <h2><%=t :team_title_1 %></h2>
        <div class="text_mark"></div>
        <div class="con_about">
          <p><%=t :team_description_1 %></p>
        </div>
        <h2>WHAT WE DO</h2>
        <div class="text_mark"></div>
        <div class="con_about">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <p style="margin-top: 15px; padding-bottom: 50px;">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div id="right_col">
        <h2>THE TEAM</h2>
        <div class="text_mark"></div>
        <div id="team">
          <div class="team_left_side">
            <div class="katerina">
              <span><%= @teams.find_by_position(1).name %> Kandybina<em>Co-Founder</em></span>
              <div class="katerina_mask"></div>
            </div>
            <div class="nikita">
              <span><%= @teams.find_by_position(2).name %> Kandybin<em>Concept Artist</em></span>
              <div class="nikita_mask"></div>
            </div>
          </div>
          <div class="team_right_side">
            <div class="irina">
              <span><%= @teams.find_by_position(3).name %> Astronomova<em>Creative Director</em></span>
              <div class="irina_mask"></div>
            </div>
            <div class="julia">
              <span><%= @teams.find_by_position(4).name %> Gladush<em>Lead Artist</em></span>
              <div class="julia_mask"></div>
            </div>
            <div class="joinus">
              <a href="#p6">
                <%= image_tag "/images/team/join.jpg", class: "front_join" %>
                <%= image_tag "/images/team/join_back.jpg", class: "back_join" %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a id="p3"></a>