<div id="part4">
  <div id="part_area">
    <div id="work">
      <div class="arrow"><%= image_tag "arrow_top.png", {width: 30} %></div>
      <a id="p4"></a>
      <h2 style="padding-top: 80px">OUR WORKS</h2>
      <div class="text_mark"></div>
      <div class="gallery_nav">
        <ul>
          <li class="branding_li act_gal_nav"><%= @work_categories.find_by_id(1).category %></li>
          <li class="web_li"><%= @work_categories.find_by_id(2).category %></li>
          <li class="print_li"><%= @work_categories.find_by_id(3).category %></li>
          <li class="packing_li"><%= @work_categories.find_by_id(4).category %></li>
          <li class="arch_li"><%= @work_categories.find_by_id(5).category %></li>
          <li class="apps_li"><%= @work_categories.find_by_id(6).category %></li>
          <li class="gamedev_li"><%= @work_categories.find_by_id(7).category %></li>
        </ul>
        <div class="view_li">VIEW ALL</div>
      </div>
      <div id="gallery">

        <!-------branding--------->

        <div class="nav_branding">
          <div class="item">
            <div>
              <a href="<%= @work_categories.find_by_id(1).works.find_by_id(1).image %>">
                <img src="<%= @work_categories.find_by_id(1).works.find_by_id(1).image %>">
              </a>
            </div>
          </div>
        </div>


        <!-------web--------->

        <div class="nav_web">
          <div class="item">
            <div>
              <a href="<%= @work_categories.find_by_id(2).works.find_by_id(2).image %>">
                <img src="<%= @work_categories.find_by_id(2).works.find_by_id(2).image %>">
              </a>
            </div>
          </div>
        </div>

        <!-------print--------->

        <div class="nav_print">
          <div class="item">
            <div>
              <a href="<%= @work_categories.find_by_id(3).works.find_by_id(3).image %>">
                <img src="<%= @work_categories.find_by_id(3).works.find_by_id(3).image %>">
              </a>
            </div>
          </div>
        </div>

        <!-------packing--------->

        <div class="nav_packing">
          <div class="item">
            <div>
              <a href="<%= @work_categories.find_by_id(4).works.find_by_id(4).image %>">
                <img src="<%= @work_categories.find_by_id(4).works.find_by_id(4).image %>">
              </a>
            </div>
          </div>
        </div>

        <!-------architectural design--------->

        <div class="nav_architectural">
          <div class="item">
            <div>
              <a href="<%= @work_categories.find_by_id(5).works.find_by_id(5).image %>">
                <img src="<%= @work_categories.find_by_id(5).works.find_by_id(5).image %>">
              </a>
            </div>
          </div>
        </div>

        <!-------apps--------->

        <div class="nav_apps">
          <div class="item">
            <div>
              <a href="<%= @work_categories.find_by_id(6).works.find_by_id(6).image %>">
                <img src="<%= @work_categories.find_by_id(6).works.find_by_id(6).image %>">
              </a>
            </div>
          </div>
        </div>

        <!-------gamedev--------->

        <div class="nav_gamedev">
          <div class="item">
            <div>
              <a href="<%= @work_categories.find_by_id(7).works.find_by_id(7).image %>">
                <img src="<%= @work_categories.find_by_id(7).works.find_by_id(7).image %>">
              </a>
            </div>
          </div>
        </div>

        <!-------end of gallery--------->

      </div>
    </div>
  </div>
</div>

