<!----------------------------part4/6----------------------------------------------------------------->

<div id="part4">
  <div id="part_area">
    <div id="work">
      <div class="arrow_black"></div>
      <h2>OUR WORKS</h2>
      <div class="text_mark"></div>
      <div class="gallery_nav">
        <ul>
          <li class="branding_li act_gal_nav"><%= @work_categories.find_by_id(1).category %></li>
          <li class="web_li"><%= @work_categories.find_by_id(2).category %></li>
          <li class="print_li"><%= @work_categories.find_by_id(3).category %></li>
          <li class="packing_li"><%= @work_categories.find_by_id(4).category %></li>
          <li class="arch_li"><%= @work_categories.find_by_id(5).category %></li>
          <li class="apps_li"><%= @work_categories.find_by_id(6).category %></li>
          <li class="gamedev_li"><%= @work_categories.find_by_id(7).category %></li>
        </ul>
        <div class="view_li">VIEW ALL</div>
      </div>
      <div id="gallery">

        <!-------branding--------->

        <div class="nav_branding">
          <div class="item">
            <div>
              <a href="images/gallery/big/branding/big_branding.jpg" rel="shadowbox[Branding]">
                <img src="images/gallery/small/branding/small_branding.jpg">
              </a>
            </div>
          </div>
        </div>

        <!-------web--------->

        <div class="nav_web">
          <div class="item">
            <div>
              <a href="images/gallery/big/web/big_web.jpg" rel="shadowbox[Web]">
                <img src="images/gallery/small/web/small_web.jpg">
              </a>
            </div>
          </div>
        </div>

        <!-------print--------->

        <div class="nav_print">
          <div class="item">
            <div>
              <a href="images/gallery/big/print/big_print.jpg" rel="shadowbox[Print]">
                <img src="images/gallery/small/print/small_print.jpg">
              </a>
            </div>
          </div>
        </div>

        <!-------packing--------->

        <div class="nav_packing">
          <div class="item">
            <div>
              <a href="images/gallery/big/packing/big_packing.jpg" rel="shadowbox[Packing]">
                <img src="images/gallery/small/packing/small_packing.jpg">
              </a>
            </div>
          </div>
        </div>

        <!-------architectural design--------->

        <div class="nav_architectural">
          <div class="item">
            <div>
              <a href="images/gallery/big/architectural/big_arch.jpg" rel="shadowbox[Arch]">
                <img src="images/gallery/small/architectural/small_arch.jpg">
              </a>
            </div>
          </div>
        </div>

        <!-------apps--------->

        <div class="nav_apps">
          <div class="item">
            <div>
              <a href="images/gallery/big/apps/big_apps.jpg" rel="shadowbox[Apps]">
                <img src="images/gallery/small/apps/small_apps.jpg">
              </a>
            </div>
          </div>
        </div>

        <!-------gamedev--------->

        <div class="nav_gamedev">
          <div class="item">
            <div>
              <a href="images/gallery/big/gamedev/big_gamedev.jpg" rel="shadowbox[Gamedev]">
                <img src="images/gallery/small/gamedev/small_gamedev.jpg">
              </a>
            </div>
          </div>
        </div>

        <!-------end of gallery--------->

      </div>
    </div>
  </div>
</div>

